.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 1rem;
}
.section-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: black;
}
.card:hover .card-body {
  opacity: 1;
  color: white;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 0.7rem;
}

.card-text img {
  margin-left: 0.5rem;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
.centered-text {
  color: black;
}
